.post-title {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 29px 10px 20px;
}

.post-introduction {
  font-size: 15px;
  color: gray;
  padding: 0 20px 20px 20px;
}

.post-body-text {
  padding: 20px;
}

.add-comment-container {
  padding: 10px;
  background-color: antiquewhite;
  margin-bottom: 10px;
  border-radius: 20px;
}

.show-comments-container {
  padding: 10px;
  background-color: antiquewhite;
  margin-bottom: 70px;
  border-radius: 20px;
}

.comment-header {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  text-align: left;
}

.comment-body {
  font-size: 15px;
  padding: 5px;
  text-align: left;
}